@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

:root {
  --primary: #d4a017;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nata Sans', sans-serif;
  font-size: 1.6rem;
  color: bisque;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: black;
}

// Scrollbar css
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.233);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

a[href] {
  color: bisque;
  text-decoration: none;
}

button,
input,
textarea,
[tabindex] {
  outline: none;
  border: none;
}
