.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #252728;
  border-bottom: 1px solid #3a3c3d;
}

.inner {
  display: flex;
  padding: 0 30px;
  height: 100%;
  justify-content: space-between;
}

.leftBlock {
  display: flex;
}

.logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.centerBlock {
  display: flex;
  flex-direction: row;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.actionBtn {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: #3b3d3e;
  color: bisque;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #2e313128;
  }
}

.avatarWrapper {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.arrowIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  background-color: #252728;
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 2px;
  color: white;
}
