.wrapper {
  border-top: 1px solid #ebf5f55c;
  margin-top: 30px;
}

.label {
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 550;
}

.accountItem {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.105);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.itemInfo {
  flex: 1;
  margin-left: 12px;
}

.username {
  margin-top: 2px;
  font-size: 1.6rem;
  color: bisque;
  line-height: 1;
}

.check {
  margin-left: 4px;
  font-size: 1.4rem;
}

.fullname {
  margin-top: -15px;
  font-size: 1.2rem;
  color: bisque;
}

.moreBtn {
  font-size: 1.4rem;
  font-weight: 550;
  color: bisque;
  padding: 2px;
  cursor: pointer;
}
