.wrapper {
  width: 100%;
  background: rgb(18, 18, 18);
  border-radius: 8px;
  box-shadow: rgb(120, 117, 117) 0px 4px 16px;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
