.wrapper {
  display: flex;
  padding: 20px 30px;
}

.avatar {
  width: 500px;
  height: auto;
}

.userInfo {
  padding-left: 50px;
  line-height: 30px;
}

.FriendActionBtn {
  margin-top: 30px;
  margin-right: 15px;
}
