.wrapper {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
  padding-bottom: 20px;

  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  margin-left: 12px;
  line-height: 0px;
}

.name {
  margin-top: -4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.checkIcon {
  margin-left: 6px;
  font-size: 1.2rem;
}

.username {
  font-size: 1.2rem;
}
