.loginPage {
  display: flex;
}

.logo {
  width: 752px;
  height: 752px;
  position: fixed;
}

.form {
  width: 450px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #383838;
  border-radius: 8px;
  margin: 24px;
  margin-left: 760px;
  align-self: center;
  box-shadow: 4px 8px 10px rgba(125, 124, 124, 0.948);
}

.header {
  font-size: 4rem;
  margin-top: 10px;
}

.button {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 50px;
}
