.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  color: bisque;
  text-decoration: none;

  &.active {
    color: rgb(165, 184, 40);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.105);
  }
}

.title {
  margin-left: 10px;
}
