.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 500px;
}

.label {
  padding-right: 10px;
  margin-bottom: 5px;
}

.file {
  background-color: rgba(123, 121, 121, 0.342);
  font-size: 1.4rem;
  border-radius: 5px;
}

.title {
  background-color: rgba(129, 125, 125, 0.415);
  border-radius: 5px;
  height: 30px;
  font-size: 1.6rem;
  color: azure;
  padding-left: 15px;
}

.content {
  width: 1000px;
  height: 300px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(129, 125, 125, 0.415);
  border-radius: 5px;
  font-size: 1.8rem;
  color: azure;
  padding-left: 15px;
  padding-top: 10px;
}

.button {
  margin-left: 350px;
  margin-top: 30px;
  width: 300px;
}
